@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Micro+5&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Play', sans-serif;
}

.busqueda {
    display: flex;
    justify-content: center;
    align-items: center;

}

.search {
    width: 100px;
    font-size: 1rem;
}

#categMarvel {
    color: white;
    background-color: red;
    border-radius: 10px;
}

#categDC {
    color: white;
    background-color: rgb(0, 140, 255);
    border-radius: 10px;
}



header {
    max-width: 100vw;
    display: flex;
    padding: 5% 5%;
    padding-bottom: 60px;
    z-index: 1;
    height: 50px;
    justify-content: space-between;

}

.categ {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.titulo {
    color: aliceblue;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.218);
    font-size: 2.8rem;

}

.fotoLogo {
    height: 60px;
    width: auto;
}

.encabezado {
    display: flex;
    padding: 100px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;


}

.contenido {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 40px;
    padding: 30px 5%;
    justify-content: center;
    align-items: center;
}

.contenedorTarjeta {
    background-color: aliceblue;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    padding: 30px 10px;
    height: 400px;
    width: 280px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.232);
}

.contenedorTarjeta button {
    background-color: aliceblue;
    font-size: 1.3rem;
    height: 50px;
    width: 150px;
    border-radius: 10px;
}

.contenedorTarjeta h3 {
    font-size: 1.4rem;
    background-color: aliceblue;
}

section img {
    height: 300px;
    width: 200px;
    background-color: aliceblue;
}

h2 {
    font-size: 3.5rem;
}

dialog {
    /* visibilidad */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    overflow: hidden;
}

dialog img {
    width: 300px;
}

dialog button {
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
}

.cont {
    padding: 8%;
}

.imgPersonaje {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: gray;

}

.cont p {
    margin-bottom: 5px;
    color: gray;
}

.cont button {
    margin-top: 20px;
}

.fondo {
    /* display: none; */

    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}



.esconder {
    display: none;

}